html { font-family: sans-serif; color: #ccc; background: #333; }

#main-swatch { width: 400px; height: 100px; background: black;
    -moz-border-radius: 0.5em;
    -ms-border-radius: 0.5em;
    border-radius: 0.5em;
    -webkit-border-radius: 0.5em; }

.slider-label { margin-top: 0.3em; }

.slider { width: 400px; height: 10px; display: inline-block;  }


canvas.colour-range { width: 400px; height: 10px; position: relative; display: block;
    overflow: hidden;
    border-radius: 0.5em;
    -webkit-border-radius: 0.5em;
    -ms-border-radius: 0.5em;
    -moz-border-radius: 0.5em;
}


