/*
 * Layouty stuff
 */
html, body { margin: 0; padding: 0; overflow: auto; height: 100%;}
body { height: 100%; margin:0; padding: 0; text-align: center; }
iframe { border: none; }

.outer-wrapper { width: 700px; height: 100%; margin: 0 auto; text-align: left; position: relative;}

/* Toolbar */
.page-bar { position: absolute; left: 0; top: 0; height: 16px;  width: 100%;
    padding: 4px; }
.toolbar {  }
.page-bar h1 {float: left;}
.toolbar-items-right { position: absolute; top: 3px; left: 0; height: 100%; width: 100%; text-align: right; }
.toolbar-item { display: inline-block; height: 16px; vertical-align: middle; background: none;}
.toolbar-divider { width: 1em; }
.toolbar-item input, .toolbar-item label  { vertical-align: middle;} /* XXX needed? */

/* Layout parts */
.page-body{ position: absolute; width: 100%; top: 35px; bottom: 10px; 
    overflow: visible; }

.page-bag { position: absolute; top: 0; left: 0; height: 100%; width: 335px; }
.page-bag > :last-child { margin-bottom: 0; }
.accordion { position: absolute; top: 0; bottom: 0; right: 0px; width: 345px; qheight: 100%;
    overflow: visible; }

.colour-pane { position: relative; width: 100%; margin-bottom: 10px; padding: 0 0 0 10px;
    border-width: 1px; border-style: solid;}
h3 {margin-top: 0em; margin-bottom: 5px; text-align: left;}

/* Main swatch */    
#main-swatch { height: 90px; }
#main-readout { position: absolute; bottom: 0.5em; right: 0.5em; width: 90px;
    border: 1px solid white; text-align: right;}
    
/* Palette */
#palette { position: absolute; left: 0px; bottom: 0px; min-height: 150px; top: 355px; width: 100%; overflow: hidden; }
#palette-bag { position: absolute; width: 95%; top: 33px; bottom: 0px; overflow: auto; }
#save-colour {position: absolute; top: 1px; right: 80px;}
#delete-colour { position: absolute; top: 1px; right: 0; }


/* Component sliders */
.colour-component {margin-bottom: 10px;}
.colour-component-slider { display: inline-block; position: relative;
    width: 255px; line-height: 20px; height: 20px; vertical-align: middle; }
.slider-label { position: absolute; top: 0px; left:5px; }
.slider-label-secondary { left: auto; right: 5px; }
.colour-component-slider .ui-slider-handle { top: 12px;  height: 16px;
    width: 16px; margin-left: -8px; }
.colour-component-grippy { width: 16px; height: 16px; }
.colour-component input { height: 16px; width: 42px; margin-left: 3px;
    padding: 1px }
.colour-component canvas { position: absolute; top:0px; left:0px; width: 100%;
    height: 100%; }


/* Swatches */
.colour-swatch { position: relative; display: inline-block; height: 78px;
    width: 66px; margin: 0px 3px 6px 0px; cursor: pointer; }
.colour-swatch-inner { position: absolute; top: 3px; left: 3px;
    width: 60px; height: 60px; }
.colour-swatch-readout { display: block; position: absolute;
    bottom: 1px; right: 3px; cursor: text;}
.colour-history-swatch {width: 90%; height: 16px; margin: 0 0 5px 0;
    cursor: pointer; }

#share-frame { text-align: left; }
#share-url {width: 100%;}
.blurb { margin: 1em; }
#disqus_thread { background: white; color: black; }
#disqus_thread a { color: #3e98bf; }

/*
 * Fonty and coloury stuff
 */
body { font-family: sans-serif; font-size: 10px; }
.page-bar h1 {font-size: 1.5em; font-weight: bold; color: #ddd;
    text-shadow: black 0px 0px 3px;}
#main-readout { font-family: "DejaVu Sans Mono", monospace; background: none; }
.colour-component-slider .ui-slider-handle { background: none ! important;
    border: none ! important; }




























