
html, body {  background-color: black; color: #eee;}

.colour-swatch { background: #333 none; }
#palette-bag .ui-selected { background: #eee none; color: #111; }
.ui-selectable-helper { border-color: white !important; }

.colour-pane {border-color: #333;}