body { font-family: sans-serif}


#main-swatch { width: 255px; height: 100px; background: black;
    -moz-border-radius: 0.5em;
    -ms-border-radius: 0.5em;
    border-radius: 0.5em;
    -webkit-border-radius: 0.5em;
    text-align: right;
    vertical-align: bottom;
    padding: 1em;}

.slider-label { margin-top: 0.3em; }



.ui-colour-slider {
    display: inline-block;
    width: 255px;
    height: 10px;
}
.ui-colour-range input { display: inline; margin-left: 5px; }
.ui-colour-range canvas { position: absolute; top:0px; left:0px; -moz-border-radius: 0.5em;
    -ms-border-radius: 0.5em;
    border-radius: 0.5em;
 }

.colour-pane { float: left; width: 320px; padding: 5px; margin: 5px; }