.page-body {	
    height: expression(document.body.clientHeight - 35);
    width: 100%;
    qoverflow: auto;
}

.page-bag { width: expression($(this).parent().width() - 370); }

.accordion{ height: expression(document.body.clientHeight - 55);}

#palette { height: expression(document.body.clientHeight -390); }
#palette-bag { height: expression($(this).parent().height() - 30); bottom: auto;  }